@import "../_var.sass"

.register__form h1
    margin-bottom: $font-size * 4 !important

.login
    width: 100%
    height: 100%

    display: flex
    justify-content: center
    align-items: center
    .login__form
        background: $color--background

        padding: $font-size

        width: 50%

        display: flex
        flex-direction: column
        align-items: center
        h1
            font-size: $font-size * 4
            font-weight: $weight--3

            width: 100%

            text-align: center

            margin: 0
        p
            margin: $font-size/2 0 $font-size*2 0
        form
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            width: 100%
            .login__form__element
                width: 100%

                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center
                flex-wrap: nowrap

                margin-bottom: $font-size * 2
                input
                    flex-grow: 1

                    margin-left: $font-size

                    border: solid 2px $color--text

                    font-size: $font-size
                    padding: $font-size/2 $font-size
                    &:focus
                        border-color: $color--highlight
            .login__form__button
                margin-top: $font-size * 2

                font-size: $font-size
                padding: $font-size/2 $font-size

                background: $color--highlight
                color: white
            .register
                margin-top: $font-size
                a
                    color: rgb(100, 100, 100)
                    text-decoration: underline