@import "../_var.sass"

.nav-bar
    position: fixed
    top: 0

    padding: 0 $whitespace--desktop
    box-sizing: border-box

    width: 100%
    height: $nav-bar__height

    background: $color--background
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
    .nav-bar__content
        max-width: $max-width

        height: 100%

        margin: 0 auto

        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        flex-wrap: nowrap
        .nav-bar__item
            height: 100%

            //padding: 0 $font-size / 2

            display: flex
            justify-content: flex-start
            align-items: center

            margin-right: $font-size * 3
            &:last-child
                margin-right: 0
            svg
                fill: $color--text
                height: $font-size * 1.5
                width: $font-size * 1.5

.nav-bar
    .nav-bar__item:hover
        color: $color--highlight
    .nav-bar__item.selected
        border-bottom: solid 3px $color--highlight
