@import "../_var.sass"

.timetable
    width: 100%

    margin: $font-size 0
    .timetable__row
        height: $nav-bar__height
        width: 100%

        display: flex
        flex-direction: row
        align-items: center
        flex-wrap: nowrap
    .timetable__day
        width: 100%
        .timetable__day__header
            margin-bottom: $font-size
            .day__header__date
                font-weight: $weight--3
                font-size: $font-size * 2
        .timetable__day__events
            width: 100%

            display: grid
            grid-template-columns: auto 1fr 1fr
            grid-auto-rows: 1fr
            grid-column-gap: $font-size
            grid-row-gap: 5px
            .events__time
                padding: 5px 0 $font-size 0
                //margin-right: $font-size

                border-top: solid 2px $color--text

                display: flex
                flex-direction: column
                justify-content: flex-start
            .talk
                padding: $font-size

                background: $color--event-1

                display: flex
                flex-direction: column
                justify-content: flex-start
                align-items: flex-start
                .talk__element
                    margin-bottom: $font-size / 2
                    &:last-child
                        margin-bottom: 0
                .talk__name
                    font-weight: $weight--3
                    font-size: $font-size * 2


                    margin-bottom: 5px
                .talk__description
                    font-size: $font-size * 2/3
                    margin-bottom: $font-size
                .talk__time
                    font-weight: $weight--2
                .talk__interested
                    display: flex
                    flex-direction: row
                    align-items: center
                    flex-wrap: nowrap
                    .checkbox
                        height: $font-size
                        width: $font-size

                        display: flex
                        justify-content: center
                        align-items: center

                        margin-left: $font-size / 2
                        span
                            display: flex
                            justify-content: center
                            align-items: center
                            input
                                cursor: pointer

                                margin: 0 !important
