@import "_var.sass"
@import "modules/__all.sass"

*
    color: $color--text
    font-family: $font
    font-weight: $weight--1
    font-size: $font-size

    box-sizing: border-box

    outline: 0

body, html
    margin: 0
    padding: 0

    width: 100%
    height: 100%

body
    background: $color--background

button
    padding: 0
    margin: 0

    background: transparent

    border: 0
    border-radius: 0

a
    text-decoration: none

button, a
    cursor: pointer

input
    cursor: text

.hidden
    display: none